$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }


}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.text-center {
      display: flex;
      justify-content: center;
      align-items: center;
}

#mode-change {
  border: solid;
}

.note {
  display: block;
    height: 25px;
    width: 90px;
    line-height: 25px;

    -moz-border-radius: 50%;
    border-radius: 50%; 

    
    color: black;
    text-align: center;
    font-size: 1em;
}

.tuner-box {
  border-left-style: solid;
}

.dropdown-toggle {
  width: 75%;
}

.box {
  
  border-right-color: #c0c0c0;
  border-right-style: solid;
  border-width: normal;
  height: 50px;
  width: 8.33%;

}

hr {
  width: 100%;
margin-left: auto;
margin-right: auto;

background-color: #c8bb93;
color:#c8bb93;
border: 0 none;
}

.fretboard {
  background-color: #755628;
  height: 100%;
  width: 100%;
}

#row-0 {
  border-top-style: solid;
}

.last-row {
  border-bottom-style: solid;
}